<%= render :partial => 'layouts/partials/jumbotron', :locals => { :heading => "Adding a new author", :lead => "Yay, more people!" } %>

<% if @author.errors.any? %>
<ul>
	<% @author.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
</ul>
<% end %>

<%= render 'form' %>