<%= render :partial => 'layouts/partials/jumbotron', :locals => { :heading => "Welcome to WhataNiceBlog!", :lead => "This is the homepage. Use navigation bar on top to, duh, navigate." } %>
<div class="container">
	<h2>Statistics</h2>
	<p>Our <%= "#{Author.count}" %> authors have written <%= "#{Post.count}" %> posts, which have been commented on <%= "#{Comment.count}" %> times.</p>
</div>