<%= render :partial => 'layouts/partials/jumbotron', :locals => { :heading => "Editing post – #{@post.title}", :lead => "Pls no trollin'." } %>

<div class="container">
	<% if @post.errors.any? %>
	<div class="alert alert-danger" role="alert">
		Oops! I hate to admit it, but you did something wrong. Apparently:
		<ul>
			<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<%= render 'form' %>
</div>